<% @bookmarks.each do |bookmark| %>
  <a href="<%= bookmark.url %>">
    <%= bookmark.name %>
  </a>
  <br>
<% end %>

<br>
<br>

<form action = '/new'>
  <input type = 'submit' value = 'Add Bookmark'>
</form>
