<h1>Please enter the details of your new bookmark</h1>

<form action = '/bookmarks' method = 'post'>
  <input type = "text" name = "Name">
  <input type = 'text' name = 'URL'>
  <input type = 'submit' value = 'Submit'>
</form>
